<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1},{"col":1,"row":2},{"col":1,"row":3},{"col":1,"row":4},{"col":1,"row":5},{"col":1,"row":6},{"col":1,"row":7}]')
  Dashing.widget_base_dimensions = [370, 134]
  Dashing.numColumns = 5
});

function box_click(color){
    document.getElementById("box").style.backgroundColor=color;
}
</script>


<% content_for(:title) { "IOBoard - Startup Aggieland" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a data-id="welcome" id="box" data-text="Albedo" data-view="Text" color="light_green" onclick="box_click('red')" href="http://www.goalbedo.com" target="_blank">
      </a>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Text"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>